.reticle-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    justify-content: center;
    align-items: center;
}

.pip {
    position: absolute;
    background-color: white;
}

.vertical {
    width: 3px;
    height: 14px;
}

.horizontal {
    width: 14px;
    height: 3px;
}
